<%= render layout: "auth_layout", locals: { title: "Edit account" }  do %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-6">
      <%= f.label :name, class: label_class %>
      <%= f.text_field :name, class: input_class %>
    </div>

    <div class="mb-6">
      <%= f.label :email, class: label_class %>
      <%= f.email_field :email, autocomplete: "email", class: input_class %>
    </div>

    <div class="mb-6">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
    </div>

    <div class="mb-6">
      <%= f.label :password, class: label_class %>
      <%= f.password_field :password, autocomplete: "new-password", class: input_class %>
      <p class="pt-1 text-xs italic text-gray-500"> <% if @minimum_password_length %>
          <%= @minimum_password_length %> characters minimum <% end %> (leave blank if you don't want to change it)</p>
    </div>

    <div class="mb-6">
      <%= f.label :password_confirmation, class: label_class %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: input_class %>
    </div>

    <div class="mb-6">
      <%= f.label :current_password, class: label_class %>
      <%= f.password_field :current_password, autocomplete: "current-password", class: input_class %>
      <p class="pt-2 text-sm italic text-grey-dark">(we need your current password to confirm your changes)</p>
    </div>

    <div class="mb-6">
      <%= f.submit "Update", class: button_class(theme: "primary", variant: "expanded") %>
    </div>
  <% end %>

  <div class="mb-6">
    <hr class="mb-6" />
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: button_class(variant: "small", additional_classes: "border") %>
  </div>
<% end %>
