<% content_for :devise_form do %>
  <h2 class="pt-4 mb-8 text-4xl font-bold heading">Resend unlock instructions</h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="input-group">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>

    <div class="input-group">
      <%= f.submit "Resend unlock instructions", class: "btn btn-default" %>
    </div>
  <% end %>

  <hr class="mt-6 border" />

  <%= render "devise/shared/links" %>
<% end %>

<%= render "devise/shared/form_wrap" %>
