<%= render layout: "auth_layout", locals: { title: "Resend unlock instructions" }  do %>
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-6">
      <%= f.label :email, class: label_class %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: input_class %>
    </div>

    <div class="mb-6">
      <%= f.submit "Resend instructions", class: button_class(theme: "primary", variant: "expanded") %>
    </div>
  <% end %>
<% end %>
