<% content_for :devise_form do %>
  <h2 class="heading text-4xl font-bold pt-4 mb-8">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="mb-6">
      <div class="flex">
      <%= f.label :password, "New password", class:"label" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      </div>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input" %>
    </div>

    <div class="mb-6">
      <%= f.label :password_confirmation, "Confirm new password", class: "label" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "input" %>
    </div>

    <div class="mb-6">
      <%= f.submit "Change my password", class: "btn btn-default" %>
    </div>
  <% end %>

  <hr class="border mt-6" />

  <%= render "devise/shared/links" %>

<% end %>

<%= render "devise/share/form_wrap" %>
