<div class="max-w-5xl mx-auto mt-4 lg:p-12 p-4 grid grid-cols-1 lg:grid-cols-12 gap-x-12 gap-y-4 relative z-20">
  <div class="lg:col-span-12 text-center">
    <div class="flex justify-center mb-6">
      <svg fill="none" class="w-16 h-16" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="56" x2="463" y1="46" y2="465"><stop offset="0" stop-color="#8038ed"/><stop offset="1" stop-color="#3a0092"/></linearGradient><path d="m0 0h512v512h-512z" fill="#fff"/><rect fill="url(#a)" height="512" rx="110" width="512"/><g stroke="#fff"><circle cx="190" cy="302" r="79.5" stroke-opacity=".9" stroke-width="25"/><circle cx="254" cy="377" r="34" stroke-opacity=".8" stroke-width="10"/><circle cx="282" cy="227" r="106" stroke-width="50"/></g></svg>
    </div>
    <h1 class="mb-4 text-2xl font-semibold text-gray-800 text-center mt-3"><span class="sr-only">Kickoff Tailwind</span><svg class="lg:h-12 h-auto lg:w-auto w-full inline" fill="none" height="68" viewBox="0 0 611 68" width="611" xmlns="http://www.w3.org/2000/svg"><g class="fill-current"><path d="m67.3 56.1-1.4-1.3-2.8 2.6-8.1-13c-2.9-4.7-6.7-8.3-11.6-11 5.5-4.7 10.9-8.9 16.4-12.8l-10.3-11.5c-4.9 4.9-10.3 9.4-16.2 13.5 0-7.9 1.9-15.4 5.8-22.6h-1.7c-4 6.7-6 13.9-6 21.4v18.1c0 6.3-1.9 10.9-5.8 14-.3.3-4.8 2.7-13.3 7.3l-1.1-.8c5.8-4.9 9.2-8 10.3-9.1 3.3-3.7 5-7.7 5-12v-20c0-5.5 1.8-11.6 5.3-18.099998v-.7000033c-3.6 1.3000013-6.2 1.9000013-7.9 1.9000013-.8 0-2.5-.3-5.1-.8-2.6-.600002-4.7-.899998-6.3-.899998-7 0-11.2 4.399998-12.5 13.199998l.3.1c2.3-3.6 5.4-5.4 9.2-5.4l7.3.5c2.1.1 5.9-1.4 11.2-4.7l.2.4c-4.1 3.1-7 6-8.7 8.7-2.1 3.3-3.1 7.3-3.1 11.8-1.9-.9-3.8-1.3-5.8-1.3-3.5 0-6 2-7.5 5.9 2.4-.7 4.1-1 5.1-1l1.8.2c2.6.3 4.5 1.8 5.8 4.6 1 2.2 1.5 4.8 1.5 7.7-2-1.1-4.1-1.6-6.4-1.6-3.1 0-4.9 1.7-5.6 5.2 1.5-.7 2.8-1.1 3.9-1.1 2 0 3.4 1.1 4.1 3.4l.3 2.7c0 3-1.3 6-3.9 8.9-3.1 3.2-5.4 5.6-6.9 7.1l1.2 1.5c4.1-1.3 7.3-2.2 9.7-2.8 3.1-.7 5.8-1.1 8.1-1.1 4.7 0 10.2 1.3 16.7 3.9l10.6-12.1c1.7 3 3 5.1 3.9 6.4 1.5 2.1 2.9 4 4.3 5.6zm-18.2-29.9c-2.8 2.1-5.3 4.1-7.4 5.9l-7.1 6-1.3-.1v-13l9-6.6zm-1.1 26.7-4.4 5c-4.7-2.1-9.9-3.1-15.7-3.1l-1.3-.2c3.8-3.5 6-8 6.7-13.6l.3-.1c3.3 0 6.2 1.3 8.7 3.8 1.5 1.5 3.4 4.3 5.7 8.2z"/><path d="m85.3219 4.5h-7.4l-2.4 10.2h1.3zm2.6 54.5-1-.9-1.8 1.2c-1.6-.8-2.5-1.9-2.8-3.2v-27.7l2.5-2.8-7.7-6.4-7.4 6.1 2.9 3.1v26.1l-.1 1.8c-.3 4.3 1.8 7.7 6.3 10.1z"/><path d="m117.609 57.2-1-1.1-4.3 3.2-8.8-4.4v-28.4l9 5.1 4.3-6.1-10.1-6.3c-3.7 3.3-7.8004 6-12.3004 7.9v25.5c0 3.1-.9 5.5-2.7 7.1 4.3.9 8.9004 3 13.8004 6.4 4-2.9 8-5.9 12.1-8.9z"/><path d="m162.282 59-1.2-1.3-1.9 1c-1.1-1.5-2-3.8-2.6-6.8-.8-3.7-1.4-6.2-1.9-7.3-1.1-2.9-3-5.3-5.6-7.2 4.2-4.2 7.3-7 9.2-8.5l-9.1-9.6-13 11.4v-18.7c0-4.1 1.6-7.1 4.7-9-3.5 0-6.7 1.6-9.7 4.9l-1.4.1c-1.9-1.5-4.1-2.5-6.5-3.1 2.3 2.3 3.5 4.6 3.5 6.8v8.9h-5.1v5h5.1v27c0 3.1-.8 5.5-2.5 7.2 4 1.2 8.8 3.4 14.5 6.6l9.6-10.1c.7 4.7 2.3 8 4.8 9.8zm-12.1-25.7-14.1 12.1v-11.5l7.9-7.2zm-2.3 20.2-5.8 6-6-3.1v-8.3l5.9-4.7c3.4 2.9 5.4 6.2 5.9 10.1z"/><path d="m198.618 58.8v-32.6c-4.3-.6-9.6-2.9-15.9-7-4.1 3.8-8.8 6.5-14.2 8v23.7c0 3.7-.9 6.2-2.7 7.7 6.7 1.4 12.7 4 18 7.9 3.9-3.3 8.8-5.9 14.8-7.7zm-9.4-.2c-1.1-.3-2.6-.8-4.4-1.5-2.5-.9-4.9-1.9-7.1-2.8v-27.6l11.5 4.4z"/><path d="m231.59 57.3-1.1-1.2-3.4 2.8-7.2-4.6v-28.6h6.8l.7-5.1h-7.5v-10.2l8.6 1.8 2-6.9-9.6-2.3c-3.9 3.5-7.5 5.9-10.9 7.4v10.2h-4.4l-.9 5.1h5.1v25.7c0 3.1-.8 5.5-2.5 7.2 5.9 2.3 10.7 4.8 14.4 7.6z"/><path d="m261.863 57.3-1.1-1.2-3.4 2.8-7.2-4.6v-28.6h6.8l.7-5.1h-7.5v-10.2l8.6 1.8 2-6.9-9.6-2.3c-3.9 3.5-7.5 5.9-10.9 7.4v10.2h-4.4l-.9 5.1h5.1v25.7c0 3.1-.8 5.5-2.5 7.2 5.9 2.3 10.7 4.8 14.4 7.6z"/><path d="m359.463.0999987-.6-.0999987c-2.1 3.5-5.3 5.3-9.7 5.3-2.1 0-4.7-.4-7.8-1.3s-5.6-1.6-7.5-2.1c-3.6-.900001-7.7-1.300002-12.2-1.300002-14.1 0-22.1 6.100002-24.1 18.400002h.4c2.5-3.5 4.9-6 7.2-7.3 2.6-1.4 5.4-2 8.4-1.9l6.1.3c-4.5 3.5-8 6.6-10.3 9.5-3.1 3.7-5.2 7.8-6.4 12.4-.7 2.7-1.1 5.3-1.1 7.6 0 5.6 1.6 10.7 4.9 15.3 5.7 8 14.2 12 25.4 12 2.7 0 5.5-.3 8.2-1 9.1-2.3 15.4-9.3 18.7-21l-.5-.3c-4.4 6.7-10.1 11.1-17.1 13.3v-44l1.2.1c4.5.4 8.4-.6 11.7-3 3.4-2.5 5.1-6.1 5.1-10.9000013zm-20.2 58.2000013-1.3.3c-6.3 0-11.7-1.7-16.1-5 4-3.7 6.7-6.7 8.1-9.1 1.9-3.2 2.8-7.1 2.8-11.6v-20.4l6.5 1.3zm-16.3-14.4c0 3.4-1.1 6.1-3.3 8.2-5.5-5.3-8.2-11.5-8.2-18.5 0-8.4 3.3-16.1 10-23.2l1.5.4z"/><path d="m399.191 59-1.1-.9-1.8.9c-1.3-.4-2.3-1.4-2.8-3.1v-26.2c.7-2.7 1.8-5.2 3.4-7.7l-.2-.4-2.8 2.2-14.2-4.7c-3.1 2.9-6.6 4.2-10.3 3.9l-1.3-.1 4.8 12.5c-6.6 5.9-9.9 11.9-9.9 18.1 0 4.1 2.4 8.4 7.1 12.8h.5l13.6-10.9c0 4.9 2.1 8.5 6.4 10.8zm-15-18.8-10.3-5-4.2-11.4 14.5 5.4zm.1 12.6-7.5 6.4c-3.9-3.9-5.8-8.1-5.8-12.6 0-3.1 1-6.4 2.9-9.8l10.4 5.2z"/><path d="m417.939 4.5h-7.4l-2.4 10.2h1.3zm2.6 54.5-1-.9-1.8 1.2c-1.6-.8-2.5-1.9-2.8-3.2v-27.7l2.5-2.8-7.7-6.4-7.4 6.1 2.9 3.1v26.1l-.1 1.8c-.3 4.3 1.8 7.7 6.3 10.1z"/><path d="m447.526 58.4-1.2-1.3-2.4 1.8-7.3-4.6v-42.1c0-3.7 1.6-6.7 4.9-9.1-3.7.5-7.2 2.2-10.3 5.1l-1.1.1c-1.9-1.5-4.1-2.6-6.6-3.2 2.2 2.3 3.3 4.4 3.3 6.4v39.9c0 2.9-.9 5.3-2.6 7.2 6.3 2.3 11 4.8 14.2 7.6z"/><path d="m504.786 58.8v-28.8c0-3.3-2.3-6.9-6.8-10.8l-13.6 10.5c-.3-3.9-2.5-7.3-6.5-10.4l-13.5 10.1c0-2.8-1.2-5.9-3.7-9.2-2.4-3.4-3.6-5.5-3.6-6.2 0-2 1.3-4.2 4-6.6l-.5-.8c-6.6 3.5-9.9 7.4-9.9 11.7 0 2.7 1.5 5.8 4.4 9.3v23.3c0 3.4-.9 6-2.8 7.7 7.1 1.9 12.9 4.5 17.5 7.9 3.1-2.5 6.1-3.8 9.2-3.8 2.7 0 6.6 1.3 11.7 3.8 4.3-3.7 9-6.3 14.1-7.7zm-8.5.3c-2.1-.6-3.6-1-4.5-1.2-2.7-.7-5.1-1.5-7.3-2.3v-23.3l8-5.9c.9.9 1.5 1.5 1.9 2 1.3 1.3 1.9 2.6 1.9 3.7zm-21.1 0c-4.5-1.5-8.2-2.9-11-4.2v-22.6l7.4-5.9c1.8 2 2.8 3.1 2.9 3.4.5.7.7 1.5.7 2.3z"/><path d="m524.58 4.5h-7.4l-2.4 10.2h1.3zm2.6 54.5-1-.9-1.8 1.2c-1.6-.8-2.5-1.9-2.8-3.2v-27.7l2.5-2.8-7.7-6.4-7.4 6.1 2.9 3.1v26.1l-.1 1.8c-.3 4.3 1.8 7.7 6.3 10.1z"/><path d="m571.366 59.1-1-1-2.1 1.2c-1.3-.9-2.3-2-2.8-3.2v-26.3c1.4-2.3 2.9-4.4 4.4-6.3l-1-1.1-4.3 3.4-6.9-6.4c-2.9 2.7-7.2 6.2-12.8 10.3 0-4.5-2.1-8-6.3-10.5l-8.2 7.5 1 1.1 1.6-1.1c1.6 1.3 2.4 2.9 2.4 4.6v25.7l-2.8 3.1 7.6 6.4 7.2-6.4-2.7-3.4v-24.8l7.1-5.2 4.5 3.9v23.9c0 6 1.3 8.9 6.1 12z"/><path d="m609.502 25.9c0-1.5.3-2.9.8-4.3-1.7.7-3.1 1.8-4 3.3l-30.4-19.4v9.5l12.7 8.2c-3.7 1.9-6.7 3.2-9.1 3.8v23.9c0 3.5-.9 6-2.8 7.7 6.6 1.4 12.6 4 18 7.9 4.1-3.3 9-5.8 14.8-7.7zm-9.5 32.7-11.2-4v-27.3l3.3-2 7.9 5.3z"/></g></svg>
    </span></h1>
  <p class="leading-snug text-gray-700 text-lg max-w-3xl mx-auto pb-6">A free and simple starting point for Ruby on Rails applications.</p>
</div>
<div class="lg:col-span-6">
  <h3 class="font-semibold text-lg text-gray-700">What's under the hood?</h3>
  <ul class="list-disc leading-relaxed pl-4 pt-2">
    <li class="pb-1">Powered by <%= link_to "Ruby on Rails 7", "https://rubyonrails.org", target: :_blank, class: "text-indigo-600 hover:text-indigo-700 underline" %></li>
    <li class="pb-1"><%= link_to "Friendly ID", "https://github.com/norman/friendly_id", target: :_blank, class: "text-indigo-600 hover:text-indigo-700 underline" %> preconfigured for pretty URLs.</li>
    <li class="pb-1"><%= link_to "Devise", "https://github.com/heartcombo/devise", target: :_blank, class: "text-indigo-600 hover:text-indigo-700 underline" %> authentication strategies out of the box.</li>
    <li class="pb-1"><%= link_to "Stripe", "https://stripe.com", target: :_blank, class: "text-indigo-600 hover:text-indigo-700 underline" %> JS and the <%= link_to "Stripe gem", "https://rubygems.org/gems/stripe/", target: :_blank, class: "text-indigo-600 hover:text-indigo-700 underline" %> installed by default for modern payment solutions.</li>
    <li class="pb-1"><%= link_to "Tailwind CSS", "https://tailwindcss.com", target: :_blank, class: "text-indigo-600 hover:text-indigo-700 underline" %>.</li>
    <li class="pb-1">Customized and easily themeable Devise views.</li>
    <li class="pb-1">View helpers for quick form styling with Tailwind CSS.</li>
    <li class="pb-1">Custom scaffold templates.</li>
  </ul>

  <p class="text-xs text-gray-600 max-w-lg mt-6">*This template comes with support for Tailwind CSS only. You will need to adjust the markup to make use of other frameworks. <%= link_to "Read more", "https://github.com/rails/cssbundling-rails#installation", target: :_blank, class: "underline text-indigo-600 hover:text-indigo-700" %></p>

  <div class="mt-6">
    <a href="https://www.buymeacoffee.com/webcrunch" target="_blank"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&amp;emoji=&amp;slug=webcrunch&amp;button_colour=f0f0f0&amp;font_colour=333333&amp;font_family=Cookie&amp;outline_colour=333333&amp;coffee_colour=555555"></a>
  </div>
</div>
<div class="lg:col-span-3">
  <h3 class="font-semibold text-gray-700">Useful links</h3>
  <ul class="list-disc leading-loose pl-4 mb-2 text-sm">
    <li>
      <%= link_to "View this on Github", "https://github.com/justalever/kickoff_tailwind", class: "underline text-indigo-600 hover:text-indigo-700" %>
    </li>
    <li>
      <%= link_to "Rails Guides", "https://guides.rubyonrails.org/", class: "underline text-indigo-600 hover:text-indigo-700" %>
    </li>
    <li>
      <%= link_to "Rails API Documentation", "https://api.rubyonrails.org/", class: "underline text-indigo-600 hover:text-indigo-700" %>
    </li>
    <li>
      <%= link_to "Rails Forum", "https://discuss.rubyonrails.org/", class: "underline text-indigo-600 hover:text-indigo-700" %>
    </li>
    <li>
      <%= link_to "Devise Docs", "https://github.com/heartcombo/devise", class: "underline text-indigo-600 hover:text-indigo-700" %>
    </li>
    <li>
      <%= link_to "Friendly ID Docs", "https://github.com/norman/friendly_id", class: "underline text-indigo-600 hover:text-indigo-700" %>
    </li>
    <li>
      <%= link_to "Tailwind CSS Docs", "https://tailwindcss.com/docs/installation", class: "underline text-indigo-600 hover:text-indigo-700" %>
    </li>
  </ul>
</div>
<div class="lg:col-span-3">
  <h3 class="font-semibold text-gray-700">Shameless plugs</h3>
  <ul class="list-disc leading-loose pl-4 mb-2 text-sm">

    <li><%= link_to "web-crunch.com", "https://web-crunch.com", target: :_blank, class: "underline text-indigo-600 hover:text-indigo-700" %></li>
    <li><%= link_to "hellorails.io", "https://hellorails.io", target: :_blank, class: "underline text-indigo-600 hover:text-indigo-700" %></li>
    <li><%= link_to "YouTube", "https://youtube.com/c/webcrunch", target: :_blank, class: "underline text-indigo-600 hover:text-indigo-700" %></li>
    <li>
      <%= link_to "Sponsor me", "https://github.com/sponsors/justalever", target: :_blank, class: "underline text-indigo-600 hover:text-indigo-700" %>
    </li>
  </ul>
</div>
</div>

<div class="lg:block hidden">
  <svg class="fixed bottom-0 left-0 right-0 z-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#5000ca" fill-opacity="1" d="M0,288L60,282.7C120,277,240,267,360,224C480,181,600,107,720,96C840,85,960,139,1080,154.7C1200,171,1320,149,1380,138.7L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>

  <svg class="fixed bottom-5 left-0 right-0 z-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f3f4f5" fill-opacity="1" d="M0,96L48,128C96,160,192,224,288,240C384,256,480,224,576,176C672,128,768,64,864,53.3C960,43,1056,85,1152,90.7C1248,96,1344,64,1392,48L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
</div>

<div class="w-full lg:absolute bottom-3 lg:right-3 pl-4 pb-3 lg:p-0 flex lg:justify-center justify-start z-50">
  <div class="w-full flex-1 flex lg:justify-center justify-start items-center">
    <img src="https://secure.gravatar.com/avatar/d1f5ca0d7e625f334c5186e112b77ebd?s=400" class="rounded-full w-8 h-8 border-2 border-opacity-30 border-gray-300 mr-2" />
    <p class="lg:text-white text-gray-600 text-sm">Made by <a href="https://twitter.com/justalever" target="_blank" class="underline opacity-75 hover:opacity-100">@justalever</a></p>
  </div>
</div>
