<%= render layout: "auth_layout", locals: { title: "Sign in" }  do %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="mb-6">
      <%= f.label :email, class: "block" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
    </div>

    <div class="mb-6">
      <%= f.label :password, class: "block" %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="mb-6">
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      <% end %>
    </div>

    <div class="mb-6">
      <%= f.submit "Log in", class: "p-3 bg-gray-800 text-white w-full text-center" %>
    </div>

  <% end %>
<% end %>
